.home-container {
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding:0px 6%;
  
}

.card {
  width: 250px;
  border: 2px solid #ddd;
  padding: 10px;
  border-radius: 8px;
}

.detail-container {
  background-color: black;
  color: white;
  padding: 20px;
}
